@font-face {
    font-family: 'Besom';
    src: url('../fonts/Besom.woff') format('woff'),
        url('../fonts/Besom.eot') format('eot'),
        url('../fonts/Besom.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CoreSansE-35Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/CoreSansE-35Light.otf') format('otf');
}

@font-face {
    font-family: 'CoreSansE-45Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/CoreSansE-45Regular.otf') format('otf');
}

@font-face {
    font-family: 'CoreSansE-55Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/CoreSansE-55Medium.otf') format('otf');
}

@font-face {
    font-family: 'CoreSansE-65Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/CoreSansE-65Bold.otf') format('otf');
}

@font-face {
    font-family: 'CoreSansE-95Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/CoreSansE-95Black.otf') format('otf');
}

body {
    font-family: 'CoreSansE-45Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'CoreSansE-95Black', sans-serif;
    font-size: 68px;
    line-height: 60px;
    letter-spacing: 5px;
    color: #ff0000;
    text-transform: uppercase;
}

.btn {
    font-family: 'CoreSansE-95Black', sans-serif;
    font-size: 18px;
    width: 304px;
    height: 73px;
    text-align: center;
    padding: 18px 104px 32px 114px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: url(../img/btn.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-title {
    font-family: 'CoreSansE-65Bold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* HEADER */

.header__inner {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.header__info {
    font-size: 18px;
    color: #fff;
    letter-spacing: 15px;
    position: relative;
}

.header__info::before {
    position: absolute;
    content: '';
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3)  30%, rgba(255,255,255,0.3) 70%, rgba(255,255,255,0) 100%);
}

.header__phone {
    font-size: 25px;
    font-family: 'CoreSansE-55Medium', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

/* PROMO */

.promo {
    margin-bottom: 400px;
}

.promo__red-title {
    font-family: 'Besom';
    color: #ff0000;
    font-size: 180px;
    line-height: 100%;
    margin-bottom: 25px;
}

.promo__title {
    color: #fff;
    margin-bottom: 60px;
}

.promo__date-list {
    display: flex;
    align-items: center;
    gap: 59px;
    background: url(../img/date-decor.png);
    background-repeat: no-repeat;
    margin-bottom: 65px;
}

.promo__date-item-dd {
    font-family: 'CoreSansE-95Black', sans-serif;
    color: #000;
    font-size: 14.5px;
    line-height: 40px;
    margin-left: 7px;
}

.promo__date-item:nth-of-type(1) {
    margin-left: 3px;
}

.promo__date-item-text {
    display: inline-block;
    font-family: 'CoreSansE-35Light', sans-serif;
    font-size: 14px;
    line-height: 18px;
    max-width: 78px;
    color: #fff;
}

/* ROADMAP */

.roadmap {
    margin-bottom: 125px;
}

.roadmoap__title {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 160px;
}

.roadmoap__title::before {
    position: absolute;
    content: 'Что вас ждёт';
    font-family: 'Besom';
    font-size: 180px;
    color: rgba(50, 56, 63, 0.2);
    width: 100%;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: -1;
}

.roadmap__list {
    display: flex;
    flex-direction: column;
    background: url(../img/map.png) top center no-repeat;
}

.roadmap__item {
    display: flex;
    align-items: center;
}

.roadmap__item:nth-child(even) {
    align-self: flex-end;
}

.roadmap__item:not(:nth-child(1)) {
    margin-top: -20px;
}

.roadmap__item-img {
    margin-right: 27px;
}

.roadmap__item-textbox {
    max-width: 290px;
}

/* GAINS */

.gains {
    padding-top: 195px;
    padding-bottom: 215px;
    margin-bottom: 160px;
    background: url(../img/gains-bg.png) top center no-repeat;
    background-size: cover;
    color: #fff;
}

.gains-wrap {
    position: relative;
}

.gains__list {
    display: flex;
    gap: 65px;
    justify-content: space-between;
    border: 7px solid #fff;
    border-image: url(../img/gains-frame.png) 2% 1% stretch;
    margin-bottom: 105px;
    counter-reset: gains-counter;
}
.gains__item {
    position: relative;
    z-index: 0;
}

.gains__item:not(:nth-child(1))::before {
    position: absolute;
    counter-increment: gains-counter;
    content: '0' counter(gains-counter);
    font-family: 'Besom';
    font-size: 72px;
    color: rgba(255, 255, 255, 0.5);
    top: 72px;
    z-index: 2;
}
.gains__item-img {
    height: 100%;
}
.gains__item-title {
    font-family: 'CoreSansE-95Black', sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}
.gains__item .gains__item-title {
    position: absolute;
    top: 120px;
    left: 70px;
    max-width: 275px;
}
.gains__item-subtitle {
    margin-top: 128px;
}
.gains__stop-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gains__stop-item {
    max-width: 350px;
    position: relative;
}

.gains__stop-item .gains__item-title {
    margin-left: 158px;
    min-width: 175px;
}

.gains__stop-item .gains__item-title::before {
    position: absolute;
    content: url(../img/gains-decor.png);
    left: 0;
    top: -50%;
}

/* INSTRUCTIONS */

.instructions {
    margin-bottom: 205px;
}

.instructions__title {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 135px;
}

.instructions__title::before {
    position: absolute;
    content: 'Ты узнаешь';
    font-family: 'Besom';
    font-size: 180px;
    color: rgba(50, 56, 63, 0.2);
    width: 100%;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: -1;
}

.instructions__list {
    display: flex;
    flex-direction: column;
    counter-reset: instr-counter;
    margin-bottom: 140px;
}

.instructions__item {
    position: relative;
    padding-left: 210px;
    margin-top: -15px;
}

.instructions__item::before {
    position: absolute;
    counter-increment: instr-counter;
    content: '0' counter(instr-counter);
    font-family: 'Besom';
    font-size: 205px;
    line-height: 170px;
    color: rgba(255, 255, 255, 0.5);
    left: 0;
}

.instructions__item:nth-child(1):before {
    background:url(../img/instr1.jpg) no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instructions__item:nth-child(2):before {
    background:url(../img/instr2.jpg) no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instructions__item:nth-child(3):before {
    background:url(../img/instr3.jpg) no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instructions__item:nth-child(4):before {
    background:url(../img/instr4.jpg) no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instructions__item:nth-child(5):before {
    background:url(../img/instr5.jpg) no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instructions__item:nth-child(2n) {
    align-self: flex-end;
}

.instructions__item-text {
    max-width: 305px;
}

.instructions__subtitle {
    font-family: 'CoreSansE-95Black', sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: normal;
    color: #ff0000;
    text-transform: uppercase;
    margin-bottom: 82px;
}

.instructions__urban-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: url(../img/instructions-decor.png) no-repeat;
    background-size: 90%;
}

.instructions__urban-item {
    padding-right: 75px;
    padding-top: 82px;
}

.instructions__urban-text {
    position: relative;
}

.instructions__urban-text::before {
    position: absolute;
    color: #fff;
    top: -69px;
}

.instructions__urban-item:nth-child(1) .instructions__urban-text::before {
    content: '1';
    left: 21px;
}

.instructions__urban-item:nth-child(2) .instructions__urban-text::before {
    content: '2';
    left: 6px;
}

.instructions__urban-item:nth-child(3) .instructions__urban-text::before {
    content: '3';
    left: 17px;
}

.instructions__urban-item:nth-child(4) .instructions__urban-text::before {
    content: '4';
    left: 17px;
}

.instructions__urban-item:nth-child(5) .instructions__urban-text::before {
    content: '5';
    left: 62px;
}

/* SKILLS */

.skills {
    margin-bottom: 265px;
    background: url(../img/skills-bg.jpg) left center no-repeat;
    background-size: contain;
}

.skills__title {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 120px;
}

.skills__title::before {
    position: absolute;
    content: 'Ты приобретёшь';
    font-family: 'Besom';
    font-size: 180px;
    color: rgba(50, 56, 63, 0.2);
    width: 100%;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: -1;
}

.skills__list {
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    gap: 85px;
    position: relative;
}

.skills__list::before {
    position: absolute;
    content: url(../img/skills-decor.png);
    left: -40%;
    top: -5%;
}

.skills__item {
    max-width: 220px;
}

.skills__item:nth-child(2) {
    margin-left: 122px;
}

.skills__item:nth-child(3) {
    margin-left: 198px;
}

.skills__item:nth-child(4) {
    margin-left: 235px;
}

.skills__item:nth-child(5) {
    margin-left: 255px;
}

/* PROGRAM */

.program {
    margin-bottom: 170px;
}

.program__title {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 93px;
}

.program__title::before {
    position: absolute;
    content: 'программа';
    font-family: 'Besom';
    font-size: 180px;
    color: rgba(50, 56, 63, 0.2);
    width: 100%;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: -1;
}
.program__inner {
    padding: 140px 150px;
    background: no-repeat url(../img/programm-bg.jpg) center center / cover;
}
.program__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 38px;
    max-height: 300px;
    counter-reset: prog-count;
    margin-bottom: 90px;
}
.program__item {
    position: relative;
    margin-left: 45px;
}
.program__item::before {
    position: absolute;
    counter-increment: prog-count;
    content: '0' counter(prog-count);
    font-family: 'Besom';
    color: #ff0000;
    font-size: 30px;
    left: -40px;
}
.program__item-text {
    max-width: 325px;
}
.program__sub-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.program__subscribe {
    display: inline-block;
    font-family: 'Besom';
    color: #ff0000;
    font-size: 87px;
}
.program__btn {
    display: inline-block;
}

/* GALLERY */

.gallery {
    margin-bottom: 90px;
}

.gallery__title {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 88px;
}

.gallery__title::before {
    position: absolute;
    content: 'фотогалерея';
    font-family: 'Besom';
    font-size: 180px;
    color: rgba(50, 56, 63, 0.2);
    width: 100%;
    text-align: center;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: -1;
}

.gallery__list {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 285px;
}

.gallery__item-img {
    display: block;
    width: 190px;
    height: 138px;
}

.gallery__item:nth-child(1) .gallery__item-img,
.gallery__item:nth-child(4) .gallery__item-img {
    width: 380px;
    height: 276px;
}

/* FOOTER */

.footer {
    margin-bottom: 80px;
    color: #353535;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    text-decoration: none;
    color: #353535;
    border-bottom: 1px dashed #353535;
}

.footer__phone {
    font-family: 'CoreSansE-55Medium', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #353535;
}

@media (max-width: 1200px) {
    .roadmoap__title::before,
    .instructions__title::before,
    .skills__title::before,
    .program__title::before,
    .gallery__title::before {
        font-size: 140px;
    }

    .gallery__list {
        width: unset;
        margin-left: unset;
        margin-right: unset;
        max-height: 552px;
    }

    .gallery__item:nth-child(4) {
        order: -1;
        margin-left: auto;
    }

    .gallery__item:nth-child(1) {
        order: -2;
        margin-left: auto;
    }
    .skills {
        background: url(../img/skills-bg.jpg) left bottom no-repeat;
        background-size: 700px;
    }
    .skills__list::before {
        left: -50%;
    }
}

@media (max-width: 1110px ) {
    body {
        background-position: 70% 0;
    }
    .program__inner {
        padding: 140px 0;
    }
    .program__list {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .program__subscribe {
        font-size: 76px;
    }
    .instructions__item:not(:nth-child(1)) {
        margin-top: 40px;
    }
    .instructions__urban-text::before {
        top: -71px;
    }
    .instructions__urban-item:nth-child(5) .instructions__urban-text::before {
        left: 55px;
    }
}

@media (max-width: 980px) {
    .gains__list {
        flex-direction: column;
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }
    .gains__item:not(:nth-child(1)) {
        padding: 0 10px;
    }
    .gains__item-img {
        width: 100%;
    }
    .gains__item .gains__item-title {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .gains__item-subtitle {
        margin-top: 0;
    }
    .gains__item:not(:nth-child(1))::before {
        top: 0;
        right: 20px;
    }
    .gains__stop-list {
        flex-direction: column;
        gap: 50px;
    }
    .gains__stop-item {
        text-align: center;
    }
    .gains__item-title {
        text-align-last: left;
    }
    .instructions__urban-list {
        background: none;
        flex-direction: column;
    }
    .instructions__urban-list::before {
        position: absolute;
        width: 463px;
        height: 22px;
        transform-origin: 0 0;
        transform: rotate(90deg);
        left: 30%;
        content: '';
        background-image: url(../img/instructions-decor.png);
        background-size: cover;
    }
    .instructions__urban-item {
        padding-right: 0;
        padding-top: 0;
        margin-left: 35%;
    }
    .instructions__urban-item:nth-child(1) {
        min-height: 93px;
    }
    .instructions__urban-item:nth-child(2) {
        min-height: 111px;
    }
    .instructions__urban-item:nth-child(3) {
        min-height: 101px;
    }
    .instructions__urban-item:nth-child(4) {
        min-height: 132px;
    }
    .instructions__urban-text::before {
        display: none;
    }
    .skills {
        background-size: 500px;
    }
    .skills__list {
        margin-left: 40%;
    }
}

@media (max-width: 920px) {
    .header__inner {
        flex-direction: column;
        gap: 10px;
    }
    .promo__red-title {
        font-size: 120px;
        margin-bottom: 0;
    }
    .title {
        font-size: 48px;
    }
    .roadmoap__title::before,
    .instructions__title::before,
    .skills__title::before,
    .program__title::before,
    .gallery__title::before {
        font-size: 100px;
    }
    .roadmap__item:nth-child(even) .roadmap__item-img {
        order: 1;
    }
    .roadmap__item:nth-last-child(1) .roadmap__item-textbox {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
    }
    .program__list {
        max-height: unset;
        width: fit-content;
    }
    .program__sub-box {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .roadmap__list {
        background-size: cover;
    }
    .roadmap__item {
        flex-direction: column;
    }
    .roadmap__item:nth-child(even) .roadmap__item-img {
        order: 0;
    }
    .roadmap__item:not(:nth-child(1)) {
        margin-top: 20px;
    }
    .roadmap__item:nth-child(odd) {
        align-self: flex-start;
    }
    .roadmap__item-img {
        margin-right: 0;
        width: 100%;
    }
    .skills {
        margin-bottom: 30px;
        padding-bottom: 490px;
    }
    .skills__list {
        margin-left: 40px;
    }
    .skills__list::before {
        transform: rotate(27deg);
        left: -294px;
    }
    .skills__item:nth-child(1) {
        margin-left: 80px;
        margin-top: 28px;
    }
    .skills__item:nth-child(2) {
        margin-left: 120px;
        margin-top: 25px;
    }
    .skills__item:nth-child(3) {
        margin-left: 131px;
        margin-top: 10px;
    }
    .skills__item:nth-child(4) {
        margin-left: 110px;
        margin-top: 10px;
    }
    .skills__item:nth-child(5) {
        margin-left: 50px;
        margin-top: 10px;
    }
    .gallery__list {
        max-height: unset;
        align-items: center;
    }
    .gallery__item:nth-child(1),
    .gallery__item:nth-child(4) {
        margin-left: unset;
    }
    .gallery__item-img,
    .gallery__item:nth-child(1) .gallery__item-img,
    .gallery__item:nth-child(4) .gallery__item-img  {
        width: 100%;
        height: unset;
        max-width: 380px;
        max-height: 276px;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__phone {
        margin-top: 30px;
    }
}

@media (max-width: 585px) {
    .roadmoap__title::before,
    .instructions__title::before,
    .skills__title::before,
    .program__title::before,
    .gallery__title::before {
        font-size: 70px;
        top: 15%;
    }
    .header__inner {
        margin-bottom: 70px;
    }
    .promo__title {
        margin-bottom: 0;
    }
    .title {
        font-size: 38px;
    }
    .instructions__urban-list::before {
        left: 10%;
    }
    .instructions__urban-item {
        margin-left: 15%;
    }
}

@media (max-width: 545px) {
    .instructions__item {
        padding-left: 90px;
    }
    .instructions__item::before {
        font-size: 100px;
    }
    .program__subscribe {
        font-size: 56px;
    }
}